# 4 emacs
**~

/tmp/

/Pipfile.lock

/pwdfile.txt
/.env
/dav_config.env
/dav_config.env
/global_config.env
/servicebox_pr_config.env
/sync_forum_affiliated_with_ldap_cloud_groups.env
/_test*.env

/_vols_/
